body {
  background-color: #faf2e4;
  margin: 0 15%;
  font: 18px sans-serif;
}

h1 {
  text-align: center;
  font-family: serif;
  font-weight: normal;
  border-bottom: 1px solid #57b1dc;
  margin-top: 30px;
}

h2 {
  color: #d1633c;
  font-family: serif;
}
