html, body {
  height: 100%;
  overflow: hidden;
}
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
body {
  margin:0;
  padding:0px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color:#00B7FF;
}
#sidebar {
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 350px;
  height: 99vh;
  position: relative;
  float: left;
  background-color: #7b7b7b33;
  border-radius: 10px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}
#details-header {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#report-container {
  overflow: auto;
  height: 80vh;
}
#report {
  background-color: #5694AD;
  box-shadow: 10px 10px 8px -5px #888;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
#report strong {
  font-size: 22px;
  font-style: italic;
  margin: auto;
  padding: 5px;
}
#report span {
  background-color: white;
  padding: 15px;
  font-weight: lighter;
  font-size: large;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#btn-container {
  width: 350px;
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
#btn-container button {
  box-shadow: 5px 5px 8px #888;
}
.details-btn {
  position: relative;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
}
#pending-btn {
  background-color: orange;
  float: left;
  margin-left: 10px;
}

#completed-btn {
  background-color: #2bbd2b;
  float: left;
  margin-left: 10px;
}

#close-btn {
  background-color: red;
  float: right;
  margin-right: 10px;
}
#toggle-container {
  position: fixed;
  float: right;
  z-index: 2;
  bottom: 25px;
  right: 25px;
}
