doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/leaflet@1.4.0/dist/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://unpkg.com/leaflet@1.4.0/dist/leaflet.js')
  body
    block content
